In [2]:
import pandas as pd

In [3]:
csv_df = pd.read_csv('./gun-violence-data_01-2013_03-2018.csv', encoding='utf-8')

In [4]:
df = pd.DataFrame(columns=['Money', 'House'])

In [5]:
s = pd.Series([100, 5], index=['Money', 'House'])
df2 = df.append(s, ignore_index=True)
df2

  Money House
0   100     5

In [6]:
df3 = df2.append([{'Money': 123, 'House': 23}, {'Money': 234, 'House': 34}], ignore_index=True)
df3

  Money House
0   100     5
1   123    23
2   234    34

In [7]:
df4 = df3.copy()
df4['target'] = [60, 80, 100]
df4

  Money House  target
0   100     5      60
1   123    23      80
2   234    34     100

# 欄位提取 & 刪除

In [8]:
df4['target']  # get a specify column from dataframe, it will return Serie object

0     60
1     80
2    100
Name: target, dtype: int64

In [13]:
df4.drop('target', axis=1)  # remove the specify column

  Money House
0   100     5
1   123    23
2   234    34

In [16]:
df4.iloc[0:2]  # This is 2D array. iloc[row, column]

  Money House  target
0   100     5      60
1   123    23      80

In [22]:
df4.to_csv('result.csv', encoding='utf_8', index=False)  # store as csv